@page "{handler?}"

@using MedStat.WebAdmin.Classes
@using MedStat.WebAdmin.Classes.SharedResources
@using Microsoft.AspNetCore.Mvc.Localization

@model ChangePasswordPageModel

@inject IHtmlLocalizer<IdentityResource> IdentityLocalizer

@{
	var title = (Model.IsNewPassword
		? IdentityLocalizer["__pageTitle__Create password"]
		: IdentityLocalizer["__pageTitle__Change password"]).Value.Replace("__pageTitle__", "");

	ViewData["Title"] = title;
	ViewData.SetSelectedMainMenu(NavHelper.EnMainMenuItem.Account);
}


@section PageHeader
{
	<nav aria-label="breadcrumb">
		<breadcrumb menu-item="@NavHelper.EnMainMenuItem.Account" page-title="@title"></breadcrumb>
	</nav>

	@if (ViewData["error_message"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@ViewData["error_message"]
		</div>
	}
	@if (ViewData["info_message"] != null)
	{
		<div class="alert alert-info" role="alert">
			@ViewData["info_message"]
		</div>
	}

	<h1 class="ms-pageheader-pagetitle">@title</h1>
}

<div class="ms-pagecontent">
	
	<div>
		<span asp-validation-for="PhoneNumber" class="text-danger"></span>
	</div>

	@if (Model.DisplayConfirmPhoneNumberSection)
	{
		<form method="post" asp-page-handler="CheckConfirmationCode" class="ms-form-container">

			<div class="row">
				<div class="col-md-6">

					<div>
						<label asp-for="ConfirmationCode" class="form-label"></label>
						<input asp-for="ConfirmationCode" class="form-control" />
						<span asp-validation-for="ConfirmationCode" class="text-danger"></span>
					</div>

				</div>
			</div>

			<button class="btn btn-primary" type="submit">
				@IdentityLocalizer["__button__Next"].Value.Replace("__button__", "")
			</button>
			
			<input type="hidden" asp-for="PhoneNumber" />
			<input type="hidden" asp-for="IsNewPassword" />

		</form>
	}
	else
	{
		<p>
			<h5>@IdentityLocalizer["Password requirements:"]</h5>
			<ol>
				<li>
					@IdentityLocalizer["Password must be at least six characters long."]
				</li>
				<li>
					@IdentityLocalizer["Password should contains an uppercase character, lowercase character, a digit, and a non-alphanumeric character."]
				</li>
			</ol>
		</p>

		<form method="post" asp-page-handler="CheckPassword" class="ms-form-container">

			<div class="row">
				<div class="col-md-6">

					<div>
						<label asp-for="Password" class="form-label"></label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>

					<div>
						<label asp-for="ConfirmPassword" class="form-label"></label>
						<input asp-for="ConfirmPassword" class="form-control" />
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>

				</div>
			</div>

			<button class="btn btn-primary" type="submit">
				@(Model.IsNewPassword
					? IdentityLocalizer["__button__Create"].Value.Replace("__button__", "")
					: IdentityLocalizer["__button__Change"].Value.Replace("__button__", ""))
			</button>

			<input type="hidden" asp-for="ConfirmationCode" />
			<input type="hidden" asp-for="PhoneNumber" />
			<input type="hidden" asp-for="IsNewPassword" />

		</form>
	}

</div>