@page "{CmpUserId:int}"

@using Microsoft.AspNetCore.Mvc.Localization
@using MedStat.WebAdmin.Classes.SharedResources

@model CompanyUserEditPageModel

@inject IHtmlLocalizer<CompanyResource> CmpLocalizer

@{
	Layout = "_PopupLayout";

	ViewData["Title"] = $"{this.Model?.CmpUserData?.User?.Login?.Surname} {this.Model?.CmpUserData?.User?.Login?.FirstName}";
}

<div class="ms-pagecontent">

	<form method="post" class="ms-form-container">

		<div class="row gx-5">

			<div class="col-sm-6">
				@Html.EditorFor(m => m.CmpUserData.User.Login, "~/Pages/Account/_SystemUserPartial.cshtml")

				<div>
					<label asp-for="CmpUserData.User.Description" class="form-label"></label>
					<textarea asp-for="CmpUserData.User.Description" class="form-control"></textarea>
					<span asp-validation-for="CmpUserData.User.Description" class="text-danger"></span>
				</div>

			</div>

			<div class="col-sm-6">
		
				<section class="ms-form-group">
					<h5 class="ms-form-checkgroup-header">@CmpLocalizer["__CmpUserPage__User rights"]</h5>

					<div class="form-check">
						<input asp-for="CmpUserData.IsPowerUser" class="form-check-input" />
						<label asp-for="CmpUserData.IsPowerUser" class="form-check-label"></label>
					</div>
				</section>
		
				<section class="ms-form-group">
					<h5>@CmpLocalizer["__CmpUserPage__Login information"]</h5>
			
					<div>
						<label asp-for="CmpUserData.User.Login.PhoneNumber" class="form-label"></label>
						<input asp-for="CmpUserData.User.Login.PhoneNumber" class="form-control" readonly="readonly" />
						<span asp-validation-for="CmpUserData.User.Login.PhoneNumber" class="text-danger"></span>
					</div>
					
					<div style="text-align: right">
						<a class="btn btn-link" asp-page="./ChangePhoneNumber" asp-route-cmpUserId="@Model.CmpUserId">
							@CmpLocalizer["__button__Change phone number"]
						</a>
					</div>
				</section>

			</div>

		</div>

		<button class="btn btn-primary" type="submit">@CmpLocalizer["Save"]</button>

	</form>

</div>