@using MedStat.WebAdmin.Classes
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using MedStat.WebAdmin.Classes.SharedResources
@using Microsoft.AspNetCore.Html

@inject SignInManager<Core.Identity.SystemUser> SignInManager
@inject IHtmlLocalizer<NavResource> NavLocalizer

@{
	Func<bool, HtmlString> GetNavItemAttributes = (isSelected) => isSelected
		? new HtmlString("class='nav-item active'")
		: new HtmlString("class='nav-item'");

	Func<string, bool, HtmlString> GetNavLinkAttributes = (pageName, isSelected) =>
	{
		var attributes = isSelected
			? "class='nav-link' aria-current='page'"
			: "class='nav-link'";

		attributes += $" href='{Url.Page(pageName)}'";

		return new HtmlString(attributes);
	};
}

<header class="ms-sitenav-toppanel">
	<partial name="~/Pages/Navigation/_LoginPartial.cshtml" />
</header>

<aside class="ms-sitenav-aside">

	<div class="ms-sitenav-header">

		<div class="ms-brand">@NavLocalizer["MedStat.Admin"]</div>

		<button id="sitenav_header_btnCollapse" class="ms-togglebtn ms-btncollapse"
		        title="@(NavLocalizer["Collapse menu"])" aria-label="@(NavLocalizer["Collapse menu"])">
			<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
			</svg>
		</button>
		<button id="sitenav_header_btnExpand" class="ms-togglebtn ms-btnexpand"
		        title="@(NavLocalizer["Expand menu"])" aria-label="@(NavLocalizer["Expand menu"])">
			<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
			</svg>
		</button>

	</div>

	<nav class="ms-sitenav-menu">

		<ul class="nav flex-column">
			
			<li @(GetNavItemAttributes(ViewData.IsHomeMainMenuSelected()))>
				<a @(GetNavLinkAttributes("/Index", ViewData.IsHomeMainMenuSelected()))>
					
					<span class="nav-link-icon" title="@NavLocalizer["Home"]">
						<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"></path>
							<path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"></path>
						</svg>
					</span>
					<span class="nav-link-text">@NavLocalizer["Home"]</span>
				</a>
			</li>

			@if (SignInManager.IsSignedIn(User))
			{
				<li @(GetNavItemAttributes(ViewData.IsCompanyMainMenuSelected()))>
					<a @(GetNavLinkAttributes("/Companies/Index", ViewData.IsCompanyMainMenuSelected()))>
						<span class="nav-link-icon" title="@NavLocalizer["Companies"]">
							<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
								<path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
							</svg>
						</span>
						<span class="nav-link-text">@NavLocalizer["Companies"]</span>
					</a>
				</li>
			}
		</ul>

	</nav>

</aside>