@using MedStat.WebAdmin.Classes
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using MedStat.WebAdmin.Classes.SharedResources

@inject SignInManager<Core.Identity.SystemUser> SignInManager
@inject IHtmlLocalizer<NavResource> NavLocalizer


<header class="ms-sitenav-toppanel">
	<partial name="~/Pages/Navigation/_LoginPartial.cshtml" />
</header>

<aside class="ms-sitenav-aside">

	<div class="ms-sitenav-header">

		<div class="ms-brand">@NavLocalizer["MedStat.Admin"]</div>

		<button id="sitenav_header_btnCollapse" class="ms-togglebtn ms-btncollapse"
		        title="@(NavLocalizer["Collapse menu"])" aria-label="@(NavLocalizer["Collapse menu"])">
			<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-bar-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
			</svg>
		</button>
		<button id="sitenav_header_btnExpand" class="ms-togglebtn ms-btnexpand"
		        title="@(NavLocalizer["Expand menu"])" aria-label="@(NavLocalizer["Expand menu"])">
			<svg width="100%" height="100%" viewBox="0 0 16 16" class="bi bi-arrow-bar-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
			</svg>
		</button>

	</div>

	<nav class="ms-sitenav-menu">

		<ul class="nav">
			
			<site-nav-item menu-item="@NavHelper.EnMainMenuItem.Home">
				<site-nav-link menu-item="@NavHelper.EnMainMenuItem.Home" 
				               page-name="/Index"
				               text="@NavLocalizer["Home"].Value">
				</site-nav-link>
			</site-nav-item>

			@if (SignInManager.IsSignedIn(User))
			{
				<site-nav-item menu-item="@NavHelper.EnMainMenuItem.Company">
					<site-nav-link menu-item="@NavHelper.EnMainMenuItem.Company" 
					               page-name="/Companies/Index"
					               text="@NavLocalizer["Companies"].Value">
					</site-nav-link>
				</site-nav-item>

				// menu group
				<site-nav-item is-menu-group="true">
					<site-nav-link menu-item="@NavHelper.EnMainMenuItem.Devices" 
					               text="@NavLocalizer["Devices"].Value">
					</site-nav-link>
					
					@* sub menu *@
					<div role="list">
						<ul class="nav sub-nav">

							<site-nav-item menu-item="@NavHelper.EnMainMenuItem.DeviceList">
								<site-nav-link menu-item="@NavHelper.EnMainMenuItem.DeviceList" 
								               page-name="/Devices/Index"
								               text="@NavLocalizer["List"].Value">
								</site-nav-link>
							</site-nav-item>

						</ul>
					</div>
				</site-nav-item>
			}
		</ul>

	</nav>

</aside>