@page
@using MedStat.WebAdmin.Classes
@using MedStat.WebAdmin.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using MedStat.WebAdmin.Classes.SharedResources

@model CompanyCreateModel

@inject IHtmlLocalizer<CompanyResource> CmpLocalizer

@{
	ViewData["Title"] = CmpLocalizer["New company creation"];
	ViewData.SetSelectedMainMenu(NavHelper.EnMainMenuItem.Company);
}

@section PageHeader
{
	<nav aria-label="breadcrumb">
		<breadcrumb menu-item="@NavHelper.EnMainMenuItem.Company"
								page-title="@CmpLocalizer["New company"].Value"></breadcrumb>
	</nav>

	@if (ViewData["error_message"] != null)
	{
		<div class="alert alert-danger" role="alert">
			@ViewData["error_message"]
		</div>
	}

	<h1 class="ms-pageheader-pagetitle">@CmpLocalizer["New company"]</h1>
}


<partial name="_PageNavTopPanel" model="@(new CompanyPageNavModel { CompanyId = null })" />

<div class="ms-pagecontent">

	<form method="post" class="ms-form-container">

		<partial name="_MainTab" model="@Model.Company" />

		<button class="btn btn-primary" type="submit">@CmpLocalizer["Create"]</button>

	</form>

</div>