@page
@using MedStat.WebAdmin.Classes
@using MedStat.WebAdmin.Classes.SharedResources
@using Microsoft.AspNetCore.Mvc.Localization
@model CompanyListModel
@* @inject IViewLocalizer Localizer *@
@inject IHtmlLocalizer<CompanyResource> CmpLocalizer

@{
	ViewData["Title"] = CmpLocalizer["Company list"];
	ViewData.SetSelectedMainMenu(NavHelper.EnMainMenuItem.Company);
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

@section Scripts
{
	<script defer src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	<script defer src="//cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>
	<script defer src="@(Url.Content("~/js/pages/companyListPage.js"))"></script>
}

@section PageHeader
{
	<nav aria-label="breadcrumb">
		<breadcrumb menu-item="NavHelper.EnMainMenuItem.Company"
								page-title="@(CmpLocalizer["List"].Value)"></breadcrumb>
	</nav>

	<div class="ms-pageheader-titlepanel">
		<h1>@CmpLocalizer["Companies"]</h1>
		<div>
			<a asp-area="" asp-page="/Companies/Create" class="btn btn-success btn-sm">
				<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
				</svg>@CmpLocalizer["Create company"]
			</a>
		</div>
	</div>
}

<div class="ms-pagecontent">
	
	<table id="tblCompanies" 
	       class="table table-hover" style="width:100%"
				 data-ajax="@(Url.PageLink("Index", "CompanyList"))">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Accounts</th>
				<th>Trekking</th>
			</tr>
		</thead>
	</table>

</div>