@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using MedStat.WebAdmin.Classes.SharedResources
@using MedStat.WebAdmin.Models

@inject IHtmlLocalizer<NavResource> NavLocalizer
@inject IStringLocalizer<DataTableResource> DtLocalizer

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @NavLocalizer["MedStat.Admin"]</title>

	@{ var cssResModel = new LayoutStaticResourcesModel(LayoutStaticResourcesModel.EnResourcesType.CssFiles); }
	<partial name="_LayoutStaticResourcesPartial" model="@cssResModel" />
</head>
<body>
	<partial name="~/Pages/Navigation/_SiteNavPartial.cshtml" />

	<main role="main" class="ms-pagecontainer">
		@RenderSection("PageHeader", false)

		@RenderBody()
	</main>

	<partial name="_FooterPartial" />

	@{ var scriptsResModel = new LayoutStaticResourcesModel(LayoutStaticResourcesModel.EnResourcesType.Scripts); }
	<partial name="_LayoutStaticResourcesPartial" model="@scriptsResModel" />

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
